<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: header" />
<body>
<nav th:replace="fragments/common :: navbar" />

<div class="container">
    <div class="page-header">
        <h1 th:text="#{listArticle.heading}" />
    </div>
    
    <ul class="media-list">
        <li th:each="article : ${articles}" class="media">
            <div class="media-body">
                <a th:href="@{/articles/{articleId}/view(articleId=${article.id})}">
                    <h4 th:text="${article.title}" class="media-heading" />
                    <span th:text="${article.content}" />
                </a>
            </div>
            <hr />
        </li>
    </ul>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:replace="fragments/libs :: jquery" />
<script th:replace="fragments/libs :: bootstrap_js" />
</body>
</html>